body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#gridContainer {
    display: grid;

}

.gridCell:hover {
    background-color: antiquewhite;
    font-size: x-large;
    border-color: rgb(250, 235, 215);
}